jboss/server/all/deploy/project.ext
jboss/server/default/deploy/project.ext
jboss/server/minimal/deploy/project.ext
jboss/server/all/log/*.log
jboss/server/all/tmp/**/*
jboss/server/all/data/**/*
jboss/server/all/work/**/*
jboss/server/default/log/*.log
jboss/server/default/tmp/**/*
jboss/server/default/data/**/*
jboss/server/default/work/**/*
jboss/server/minimal/log/*.log
jboss/server/minimal/tmp/**/*
jboss/server/minimal/data/**/*
jboss/server/minimal/work/**/*
eclipse workspace/DemoEAR/.settings/*
eclipse workspace/DemoEAR/.project
eclipse workspace/DemoEAR/target
eclipse workspace/DWPProject/.settings/*
eclipse workspace/DWPProject/.classpath
eclipse workspace/DWPProject/.project
eclipse workspace/DWPProject/.tern-project
eclipse workspace/DWPProject/target
eclipse workspace/EJBProject/.settings/*
eclipse workspace/EJBProject/.classpath
eclipse workspace/EJBProject/.project
eclipse workspace/EJBProject/target
# deployed package files #

*.DEPLOYED

eclipse workspace/.metadata/
eclipse workspace/RemoteSystemsTempFiles/.project
management/~$dagboek.xlsx
eclipse workspace\DWPProject\pom.xml
eclipse workspace\DemoEAR\pom.xml

*.xml

eclipse workspace/EJBProject/bin/ejbModule/be/kuleuven/cs/gent/projectweek/logging/LoggingInterceptor.class

eclipse workspace/EJBProject/bin/ejbModule/be/kuleuven/cs/gent/projectweek/logging/Loggable.class

eclipse workspace/EJBProject/bin/ejbModule/be/kuleuven/cs/gent/projectweek/ejb/TaskEJBLocal.class

eclipse workspace/EJBProject/bin/ejbModule/be/kuleuven/cs/gent/projectweek/ejb/TaskEJB.class

eclipse workspace/EJBProject/bin/ejbModule/be/kuleuven/cs/gent/projectweek/data/UnfinishedTask.class

eclipse workspace/EJBProject/bin/ejbModule/be/kuleuven/cs/gent/projectweek/data/Tasks.class

eclipse workspace/EJBProject/bin/ejbModule/be/kuleuven/cs/gent/projectweek/data/TaskValidationException.class

eclipse workspace/EJBProject/bin/ejbModule/META-INF/MANIFEST.MF

eclipse workspace/EJBProject/target/classes/META-INF/MANIFEST.MF

eclipse workspace/EJBProject/target/classes/META-INF/maven/cs.kuleuven.be.project/EJBProject/pom.properties

eclipse workspace/EJBProject/target/classes/META-INF/MANIFEST.MF

eclipse workspace/EJBProject/target/classes/META-INF/maven/cs.kuleuven.be.project/EJBProject/pom.properties

eclipse workspace/EJBProject/bin/ejbModule/be/kuleuven/cs/gent/projectweek/data/Task.class

eclipse workspace/EJBProject/bin/ejbModule/be/kuleuven/cs/gent/projectweek/data/FinishedTask.class

eclipse workspace/EJBProject/bin/build/classes/META-INF/MANIFEST.MF

eclipse workspace/EJBProject/bin/.settings/org.eclipse.jdt.core.prefs

eclipse workspace/EJBProject/bin/.project

eclipse workspace/EJBProject/bin/ejbModule/be/kuleuven/cs/gent/projectweek/data/StaticTaskRepository.class

eclipse workspace/DWPProject/pom.xml

eclipse workspace/DemoEAR/target/m2e-wtp/ear-resources/META-INF/maven/be.kuleuven.cs.project/DemoEAR/pom.xml

eclipse workspace/DemoEAR/pom.xml

eclipse workspace/DemoEAR/target/m2e-wtp/ear-resources/META-INF/application.xml

eclipse workspace/DWPProject/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF

eclipse workspace/DemoEAR/target/m2e-wtp/ear-resources/META-INF/MANIFEST.MF

eclipse workspace/DemoEAR/target/m2e-wtp/ear-resources/META-INF/maven/be.kuleuven.cs.project/DemoEAR/pom.properties

eclipse workspace/DemoEAR/target/m2e-wtp/ear-resources/META-INF/maven/be.kuleuven.cs.project/DemoEAR/pom.xml

eclipse workspace/DWPProject/pom.xml

eclipse workspace/EJBProject/target/classes/META-INF/MANIFEST.MF

eclipse workspace/DemoEAR/target/m2e-wtp/ear-resources/META-INF/MANIFEST.MF

management/~$dagboek.xlsx

eclipse workspace/EJBProject/target/classes/META-INF/maven/cs.kuleuven.be.project/EJBProject/pom.properties

eclipse workspace/DWPProject/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF

eclipse workspace/EJBProject/target/classes/META-INF/MANIFEST.MF

eclipse workspace/DWPProject/target/m2e-wtp/web-resources/META-INF/maven/cs.kuleuven.cs.project/DWPProject/pom.properties

eclipse workspace/DWPProject/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF

eclipse workspace/DWPProject/pom.xml

eclipse workspace/DemoEAR/target/m2e-wtp/ear-resources/META-INF/maven/be.kuleuven.cs.project/DemoEAR/pom.xml

eclipse workspace/DemoEAR/target/m2e-wtp/ear-resources/META-INF/maven/be.kuleuven.cs.project/DemoEAR/pom.properties

eclipse workspace/DemoEAR/target/m2e-wtp/ear-resources/META-INF/application.xml

eclipse workspace/DemoEAR/pom.xml

eclipse workspace/EJBProject/pom.xml

eclipse workspace/EJBProject/login.properties
