jboss/server/all/deploy/project.ext
jboss/server/default/deploy/project.ext
jboss/server/minimal/deploy/project.ext
jboss/server/all/log/*.log
jboss/server/all/tmp/**/*
jboss/server/all/data/**/*
jboss/server/all/work/**/*
jboss/server/default/log/*.log
jboss/server/default/tmp/**/*
jboss/server/default/data/**/*
jboss/server/default/work/**/*
jboss/server/minimal/log/*.log
jboss/server/minimal/tmp/**/*
jboss/server/minimal/data/**/*
jboss/server/minimal/work/**/*
eclipse workspace/DemoEAR/.settings/*
eclipse workspace/DemoEAR/.project
eclipse workspace/DWPProject/.settings/*
eclipse workspace/DWPProject/.classpath
eclipse workspace/DWPProject/.project
eclipse workspace/DWPProject/.tern-project
eclipse workspace/DWPProject/target
eclipse workspace/EJBProject/.settings/*
eclipse workspace/EJBProject/.classpath
eclipse workspace/EJBProject/.project
eclipse workspace/EJBProject/target
eclipse workspace/EJBProject/ejbModule/be/kuleuven/cs/gent/projectweek/matlab/test03_track16_speed40_radius125.mat
realtime_server/node_modules/*
# deployed package files #

*.DEPLOYED
eclipse workspace/.recommenders/*
eclipse workspace/.metadata/
eclipse workspace/RemoteSystemsTempFiles/.project
management/~$dagboek.xlsx
eclipse workspace\DWPProject\pom.xml
eclipse workspace\DemoEAR\pom.xml
eclipse workspace\.recommenders\*
eclipse workspace/.recommenders/caches/*
eclipse workspace/.recommenders/caches
eclipse workspace/.recommenders/caches/
*.xml

eclipse workspace/EJBProject/bin/ejbModule/be/kuleuven/cs/gent/projectweek/logging/LoggingInterceptor.class

eclipse workspace/EJBProject/bin/ejbModule/be/kuleuven/cs/gent/projectweek/logging/Loggable.class

eclipse workspace/EJBProject/bin/ejbModule/be/kuleuven/cs/gent/projectweek/ejb/TaskEJBLocal.class

eclipse workspace/EJBProject/bin/ejbModule/be/kuleuven/cs/gent/projectweek/ejb/TaskEJB.class

eclipse workspace/EJBProject/bin/ejbModule/be/kuleuven/cs/gent/projectweek/data/UnfinishedTask.class

eclipse workspace/EJBProject/bin/ejbModule/be/kuleuven/cs/gent/projectweek/data/Tasks.class

eclipse workspace/EJBProject/bin/ejbModule/be/kuleuven/cs/gent/projectweek/data/TaskValidationException.class

eclipse workspace/EJBProject/bin/ejbModule/META-INF/MANIFEST.MF

eclipse workspace/EJBProject/target/classes/META-INF/MANIFEST.MF

eclipse workspace/EJBProject/target/classes/META-INF/maven/cs.kuleuven.be.project/EJBProject/pom.properties

eclipse workspace/EJBProject/target/classes/META-INF/MANIFEST.MF

eclipse workspace/EJBProject/target/classes/META-INF/maven/cs.kuleuven.be.project/EJBProject/pom.properties

eclipse workspace/EJBProject/bin/ejbModule/be/kuleuven/cs/gent/projectweek/data/Task.class

eclipse workspace/EJBProject/bin/ejbModule/be/kuleuven/cs/gent/projectweek/data/FinishedTask.class

eclipse workspace/EJBProject/bin/build/classes/META-INF/MANIFEST.MF

eclipse workspace/EJBProject/bin/.settings/org.eclipse.jdt.core.prefs

eclipse workspace/EJBProject/bin/.project

eclipse workspace/EJBProject/bin/ejbModule/be/kuleuven/cs/gent/projectweek/data/StaticTaskRepository.class

eclipse workspace/DWPProject/pom.xml

eclipse workspace/DWPProject/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF

eclipse workspace/DWPProject/pom.xml

eclipse workspace/EJBProject/target/classes/META-INF/MANIFEST.MF

management/~$dagboek.xlsx

eclipse workspace/EJBProject/target/classes/META-INF/maven/cs.kuleuven.be.project/EJBProject/pom.properties

eclipse workspace/DWPProject/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF

eclipse workspace/EJBProject/target/classes/META-INF/MANIFEST.MF

eclipse workspace/DWPProject/target/m2e-wtp/web-resources/META-INF/maven/cs.kuleuven.cs.project/DWPProject/pom.properties

eclipse workspace/DWPProject/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF

eclipse workspace/DWPProject/pom.xml

eclipse workspace/DemoEAR/pom.xml

eclipse workspace/EJBProject/pom.xml

eclipse workspace/EJBProject/login.properties

*.fdt

eclipse workspace/.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_0.fdx

*.fnm

eclipse workspace/.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_0.frq

eclipse workspace/.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_0.nrm

eclipse workspace/.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_0.prx

eclipse workspace/.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_0.tii

eclipse workspace/.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/_0.tis

eclipse workspace/.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/segments_1

eclipse workspace/.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/segments.gen

eclipse workspace/.recommenders/index/http___download_eclipse_org_recommenders_models_neon_/write.lock
eclipse workspace/.recommenders/*

eclipse workspace/EJBProject/.externalToolBuilders/org.hibernate.eclipse.console.hibernateBuilder.launch

eclipse workspace/.idea/eclipse workspace.iml

eclipse workspace/.recommenders/caches/identified-project-coordinates.json
