body,
html {
  height: 100%;
  margin-left: 0px;
  width: 100%;
  background-color: #f5f5f5;
  font-family: 'Lato', sans-serif;
  font-weight: 400; }

.status_bad {
  color: red; }

.status_good {
  color: green; }

.avatar {
  display: inline-block;
  position: relative;
  margin-right: 6px;
  width: 36px;
  height: 36px;
  border: 2px solid #bdc3c7;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  border-radius: 200px; }
  .avatar img {
    height: 32px;
    width: 32px;
    border-radius: 200px; }

.big-avatar {
  width: 196px;
  height: 196px;
  display: block;
  margin-right: auto; }
  .big-avatar img {
    height: 192px;
    width: 192px; }

.small-avatar {
  width: 24px;
  height: 24px;
  display: inline-block; }
  .small-avatar img {
    margin-top: -4px;
    height: 20px;
    width: 20px; }

@keyframes breath {
  0% {
    background-color: #c0392b; }
  50% {
    background-color: white; }
  100% {
    background-color: #c0392b; } }
.breathing {
  display: inline-block;
  background-color: #c0392b;
  height: 6px;
  width: 6px;
  margin-right: 4px;
  margin-bottom: 3px;
  border-radius: 300px;
  animation: breath 4s infinite; }

.navbar {
  z-index: 9999;
  border-bottom: 2px solid #e7e7e7;
  margin-bottom: 0px;
  height: 50px;
  background-color: #fcfcfd;
  opacity: 0.97; }
  .navbar .container-fluid {
    height: 50px; }
  .navbar #user {
    padding-top: 7px;
    padding-bottom: 7px; }
  .navbar #username {
    padding-top: 15px;
    padding-bottom: 15px; }
  .navbar .col-sm-2 {
    border-right: 2px solid #e7e7e7; }
  .navbar .brand {
    align-content: center;
    height: 50px;
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto; }
    .navbar .brand img {
      display: block;
      height: 50px; }
  .navbar .navbar-right {
    margin-right: 0px; }

.sidebar {
  position: fixed;
  top: 50px;
  display: block;
  height: 100vh;
  background-color: #fcfcfd;
  border-right: 2px solid #e7e7e7;
  padding-top: 18px; }
  .sidebar .level-1 {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #777; }
    .sidebar .level-1 .icon {
      height: 24px; }
    .sidebar .level-1:first-child {
      padding-top: 6px; }
  .sidebar .level-2,
  .sidebar .descr {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 16px; }
  .sidebar .level-2 {
    margin-left: 8px;
    padding-left: 8px;
    padding-top: 3px;
    padding-bottom: 3px; }
    .sidebar .level-2 .title {
      margin-top: 2px;
      margin-bottom: 6px; }
    .sidebar .level-2.active {
      border-left: 2px solid #b0cb1b;
      background-color: #f5f5f5;
      margin-right: -15px; }
    .sidebar .level-2 .icon {
      height: 22px; }
  .sidebar .level-3 {
    margin-left: 16px;
    margin-bottom: 3px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 14px; }
  .sidebar a {
    color: #777; }
  .sidebar .full-height {
    height: 100%; }
  .sidebar .icon {
    padding-right: 6px;
    padding-bottom: 3px; }
  .sidebar .line {
    border-bottom: 2px solid #e7e7e7;
    margin-top: 6px;
    margin-bottom: 6px;
    margin-left: -15px;
    margin-right: -15px; }

.panel .panel-footer {
  height: 54px; }
.panel .table-group {
  text-align: center;
  border-bottom: 2px solid #e7e7e7; }
  .panel .table-group h3 a {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 24px;
    color: #777; }
  .panel .table-group .icon {
    height: 34px;
    padding-right: 6px; }
  .panel .table-group .table {
    text-align: left;
    margin-bottom: 0px; }
  .panel .table-group:last-child {
    border-bottom: 0; }
    .panel .table-group:last-child .table {
      margin-bottom: 20px; }

.admin-container {
  padding-top: 18px; }

#map-container {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0; }
  #map-container #map {
    width: 100%;
    height: 100%; }

#map_size {
  height: 400px;
  max-height: 40vh;
  width: 100%; }
  #map_size #map {
    width: 100%;
    height: 100%; }

.i-need-room-above-my-head {
  padding-top: 50px; }

.map-overlay {
  padding-top: 70px;
  z-index: 9999; }

#loading_modal {
  margin-top: 70px; }

.modal {
  margin-top: 70px; }

.realtime_chart {
  height: 30vh; }

#donut_graph {
  height: 400px;
  max-height: 40vh; }

#topleft {
  height: 400px;
  max-height: 30vh; }

.fill-height {
  height: 100vh;
  padding: 0; }
  .fill-height .leaflet-top {
    margin-top: 50px; }

.blur {
  -webkit-backdrop-filter: saturate(80%) blur(20px);
  backdrop-filter: saturate(80%) blur(20px);
  background-color: rgba(252, 252, 253, 0.65); }

.asset_image {
  display: block;
  width: 300px; }

.userTable > tbody > tr > td:first-child {
  width: 36px; }

.label-created {
  background-color: #8e44ad; }
