body, html
{
    height: 100% !important;
}

.container-fluid
{
    margin-left: 0px;
    width: 100%;
    background-color: #ecf0f1;
}

.workplace_active .workplace
{
    padding-left: 15px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-left: 1px solid gray;
    border-top: 1px solid #293A40;
    border-right: 1px solid #293A40;
    border-bottom: 1px solid #293A40;
}

.workplace_active
{
    background-color: #293A40;
    padding: 2px;
}

.workplace a
{
    color: #FFFFFF;
    text-decoration: none;
}

.sidebar
{
    border-right: 3px solid #2c3e50;
    height: 100vh;
    padding-top: 5px;
    background-color: #344951;
    color: #ecf0f1;
    overflow:hidden;
}

.breadcrumb a
{
    color: #344951;
}

.traincoach
{
    padding-left: 15px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-left: 1px solid gray;
    border-top: 1px solid #344951;
    border-right: 1px solid #344951;
    border-bottom: 1px solid #344951;
}

.traincoach a
{
    text-decoration: none;
    color: #ecf0f1;
}

.traincoach_active
{
    background-color: #435D66;
}

.traincoach_data
{
    padding-left: 15px;
    border-left: 1px solid gray;
}

.traincoach_data
{
    padding-left: 15px;
    border-left: 1px solid gray;
}

.traincoach_data h4
{
}

.mainview_panel
{
    border: 1px solid #95a5a6;
    border-radius: 3px;
    height: 45vh;
    margin-left: 1vh;
    margin-bottom: 5px;
    margin-top: 5px;
    background-color: white;
}

.mainview_panel_large
{
    border: 1px solid #95a5a6;
    border-radius: 3px;
    height: 91vh;
    margin-left: 1vh;
    margin-bottom: 5px;
    margin-top: 5px;
    background-color: white;
}

#topright img
{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#map
{
}

.mainview_issue
{
    border-bottom: 1px solid #2c3e50;
    overflow-x: hidden;
}

.mainview_traincoach
{
    border-bottom: 1px solid #2c3e50;
}

.mainview_traincoach_header
{
    margin-top: 1vh;
}

.create_issue
{
    margin: 5px;
}

.status_bad
{
    color: red;
}

.status_good
{
    color: green;
}

.header
{
}

.padding-top{
	padding-top: 65px;
}

.topright
{
    padding: 0px;
}

#map
{
    padding: 0px;
    width: 100%;
    height: 100%;
}

.issue_bar
{
    margin-top: 3px;
    margin-bottom: 3px;
}

.sensor_active
{
    background-color: #293A40;
    padding: 2px;
}

.dont-break-out{
    overflow-wrap: break-word;
    word-wrap: break-word;
    
    -ms-word-break: break-all;
    word-break: break-word;
    
    /* Adds a hyphen where the word breaks, if supported */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.vertical-center{
	display: inline-block;
	vertical-align: middle;
	float: none;
}

#topleft
{
	height:90%;
}

#graph_options
{
	height:10%;
}