.userdata_row{
	border: 1px solid #95a5a6;
	border-radius: 3px;
	height: 50vh;
	margin-left: 1vh;
	margin-bottom: 5px;
	margin-top: 5px;
	background-color: white;
	overflow: hidden;
}

.graphics_row{
	border: 1px solid #95a5a6;
	border-radius: 3px;
	min-height: 200px;
	height:100%;
	margin-left: 1vh;
	margin-bottom: 5px;
	margin-top: 5px;
	background-color: white;
}